* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

/* ---------------- */
/* 02. */
/* ----------------------- */

/* ---------------- */
/* 15. Neon Text */
.body15 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
}
/* 15. Neon Text */
/* ----------------------- */

/* ---------------- */
/* 14. Pay Button */
.body14 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 500px;
  background-color: lightcoral;
}

.cont14 {
  width: 400px;
  height: 100px;
  background-color: white;
  display: flex;
  overflow: hidden;
}

.interactive-cont14 {
  width: 150px;
  height: 100px;
  background-color: teal;
  position: relative;
}

.text-cont14 {
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.card14 {
  width: 70px;
  height: 40px;
  background-color: rgb(135, 250, 215);
  border-radius: 5px;
  position: absolute;
  top: 30px;
  left: 40px;
}

.card-circles14 {
  position: absolute;
  top: 25px;
  left: 5px;
  display: flex;
}

.card-circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 5px;
}

.card-circle:nth-child(1) {
  background-color: rgb(120, 212, 83);
}
.card-circle:nth-child(2) {
  background-color: rgb(80, 153, 51);
}
.card-circle:nth-child(3) {
  background-color: rgb(40, 95, 18);
}

.post14 {
  width: 60px;
  height: 100px;
  border-radius: 10px;
  background-color: lightgray;
  position: absolute;
  top: 100px;
  left: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.4s 0.2s;
}

.post-line14 {
  width: 50px;
  height: 10px;
  background-color: gray;
  position: relative;
}

.post-line14::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(78, 77, 77);
  position: absolute;
  bottom: -10px;
  border-radius: 0 0 10px 10px;
}

.post-screen14 {
  width: 50px;
  height: 30px;
  background-color: whitesmoke;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: teal;
  font-weight: bold;
}

.post-text14 {
  opacity: 0;
  transition-delay: 1s;
}

.post-numbers14 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-number {
  margin: 5px;
  width: 10px;
  height: 10px;
  background-color: gray;
}

.cont14:hover .card14 {
  animation: moveCard14 1.2s ease forwards;
}

@keyframes moveCard14 {
  50% {
    transform: rotate(-90deg) scale(0.8) translateX(70px);
  }
  100% {
    transform: rotate(-90deg) scale(0.8) translateX(0px);
  }
}

.cont14:hover .post14 {
  transform: translateY(-70px);
}

.cont14:hover .post-text14 {
  opacity: 1;
}

/* 14. Pay Button */
/* ----------------------- */

/* ---------------- */
/* 13. Designer Text */
.body13 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 500px;
  background-color: #333;
  color: white;
}

.cont13 {
  display: flex;
  flex-direction: column;
}

.row-top13 {
  display: flex;
  align-items: baseline;
  position: relative;
  overflow: hidden;
}

.row-top13::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: gold;
  animation: moveBox13 2s cubic-bezier(0, 0.5, 0.5, 0) forwards;
}

.title13 {
  font-size: 30px;
  font-weight: bold;
  margin-right: 5px;
  opacity: 0;
  animation: moveText13 2s 2s ease forwards;
}

.dot13 {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: gold;
  opacity: 0;
  animation: moveDot13 0.5s 2s cubic-bezier(0, 0.5, 0.5, 0) forwards;
}

@keyframes moveBox13 {
  0% {
    left: -200px;
  }
  100% {
    left: 100%;
  }
}

@keyframes moveText13 {
  to {
    opacity: 1;
  }
}

@keyframes moveDot13 {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
    opacity: 1;
  }
}

.row-bottom13 {
  display: flex;
  align-items: baseline;
  position: relative;
  padding: 0 5px;
  overflow: hidden;
}

.row-bottom13::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  background-color: tomato;
  animation: moveBox13 2s 2s cubic-bezier(0, 0.5, 0.5, 0) forwards;
}

.desc13 {
  color: lightgray;
  font-weight: 200;
  font-size: 15px;
  opacity: 0;
  animation: moveText13 2s 3s ease forwards;
}
/* 13. Designer Text */
/* ----------------------- */

/* ---------------- */
/* 12. DROP animation */
.body12 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 600px;
}

.h1-12 {
  font-size: 100px;
  color: slateblue;
}

.containerh1-12 {
  font-size: 100px;
  color: slateblue;
  position: relative;
}

.drop12 {
  position: absolute;
  background-color: slateblue;
  clip-path: ellipse(25% 40% at 50% 50%);
  width: 28px;
  height: 25px;
  bottom: 60px;
  animation: move12 3s cubic-bezier(0.05, 0.34, 1, -0.1) infinite;
}

@keyframes move12 {
  to {
    transform: translateY(300px);
  }
}
/* 12. DROP animation */
/* ----------------------- */

/* ----------------------- */
/* 11.Loading Animation -4. */
.body11 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 500px;
}

.h1-11 {
  font-size: 50px;
  text-shadow: -1px -1px 0 gray, 1px -1px 0 gray, -1px 1px 0 gray,
    1px 1px 0 gray;
  color: white;
  position: relative;
}

.h1-11::before {
  content: "loading...";
  color: lightpink;
  position: absolute;
  width: 0;
  overflow: hidden;
  animation: move11 4s linear infinite;
}

@keyframes move11 {
  to {
    width: 100%;
  }
}

/* 11.Loading Animation -4. */
/* ----------------------- */

/* ---------------- */
/* 10.Loading Animation -3. */
.body10 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 500px;
}

.container10 {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1-10 {
  color: coral;
  font-weight: 300;
}

.circle10-cont {
  display: flex;
  border-bottom: 2px solid lightcoral;
  padding: 0;
}

.circle10 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 10px;
  animation: loading10 0.5s alternate infinite;
}

.circle10-1 {
  background-color: tomato;
}
.circle10-2 {
  background-color: salmon;
  animation-delay: 0.1s;
}
.circle10-3 {
  background-color: coral;
  animation-delay: 0.2s;
}

@keyframes loading10 {
  to {
    transform: translateY(-100px);
  }
}
/* 10.Loading Animation -3. */
/* ----------------------- */

/* ---------------- */
/* 09.Loading Animation -2 */
.body9 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 500px;
}

.container9 {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1-9 {
  color: coral;
}

.circle9-cont {
  display: flex;
}

.circle9 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
  animation: loading9 0.5s alternate infinite;
}

.circle9-1 {
  background-color: tomato;
}
.circle9-2 {
  background-color: salmon;
}
.circle9-3 {
  background-color: coral;
}

@keyframes loading9 {
  25% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(20px, -20px);
  }
  75% {
    transform: translate(30px, -10px);
  }
  100% {
    transform: translate(30px, 0px);
  }
}
/* 09.Loading Animation -2 */
/* ----------------------- */

/* ---------------- */
/* 08. Loading Animation -1 */
.body8 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 500px;
}

.container8 {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1-8 {
  color: coral;
}

.circle8-cont {
  display: flex;
}

.circle8 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
  animation: loading8 1s alternate infinite;
  opacity: 0;
}

.circle8-1 {
  background-color: tomato;
}
.circle8-2 {
  background-color: salmon;
}
.circle8-3 {
  background-color: coral;
}

@keyframes loading8 {
  100% {
    opacity: 1;
  }
}
/* 08. Loading Animations*/
/* ----------------------- */

/* ---------------- */
/* 07. Loading Liquid */
.body7 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 500px;
  background-color: lightcoral;
}

.h1-7 {
  font-size: 130px;
  font-weight: 800;
  position: absolute;
}

.text7 {
  color: lightgrey;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.text7-liquid {
  color: lightskyblue;
  animation: wave7 3s ease-in-out infinite;
}

@keyframes wave7 {
  0%,
  100% {
    clip-path: polygon(
      1% 99%,
      0% 52%,
      22% 65%,
      51% 74%,
      76% 65%,
      99% 54%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      1% 100%,
      0% 58%,
      26% 43%,
      52% 36%,
      79% 46%,
      100% 62%,
      100% 100%
    );
  }
}
/* 07 Loading Liquid */
/* ----------------------- */

/* ---------------- */
/* 06. Poseidon Wave */
.body6 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 500px;
  background-color: lightgray;
}

.box6 {
  width: 200px;
  height: 200px;
  background-color: lightslategray;
  border: 5px solid lightslategray;
  position: relative;
  overflow: hidden;
}

.box6::before {
  content: "POSEIDON";
  font-size: 32px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.box6::after {
  content: "";
  width: 200%;
  height: 200%;
  background-color: lightskyblue;
  position: absolute;
  border-radius: 30%;
  left: -50%;
  animation: wave6 5s ease-in-out infinite;
}

@keyframes wave6 {
  to {
    transform: translateY(-80%) rotate(500deg);
  }
}

/* 06. Poseidon Wave */
/* ----------------------- */

/* ---------------- */
/* 05. Text Animation*/
.body5 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 500px;
  background-color: lightslategray;
}

.h1-5 {
  font-size: 50px;
  font-weight: 700;
  position: relative;
  /* color: lightslategray; */
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.h1-5::before {
  content: "WEB DESIGN";
  color: cadetblue;
  text-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  overflow: hidden;
  border-right: 20px solid cadetblue;
  white-space: nowrap;
  animation: move5 3s linear infinite;
}

@keyframes move5 {
  to {
    width: 100%;
  }
}
/* 05 Text Animation */
/* ----------------------- */

/* ---------------- */
/* 04. Heart Beats*/
.body4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 500px;
}

.icon4-cont {
  color: red;
  font-size: 50px;
}

.heart-icon {
  animation: beat 0.7s linear infinite;
}

@keyframes beat {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: rotate(3deg);
  }
  30% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1.3);
  }
}
/* 04. Heart Beats*/
/* ----------------------- */

/* ---------------- */
/* 03. Calling Button */
.body3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 500px;
}

.phone3 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: limegreen;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.icon3 {
  transform: rotate(-30deg);
  animation: shake3 1s alternate infinite;
}

.phone3::before,
.phone3::after {
  width: 60px;
  height: 60px;
  position: absolute;
  content: "";
  border-radius: 50%;
  border: 1px solid limegreen;
}

.phone3::before {
  animation: move3 1.5s linear infinite;
}

.phone3::after {
  animation: move3 1.5s 0.4s linear infinite;
}

@keyframes move3 {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes shake3 {
  0% {
    transform: rotate(-30deg);
  }
  30% {
    transform: rotate(-35deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}
/* 03. Calling Button */
/* ----------------------- */

/* ---------------- */
/* 02. Hovered Button */
.body2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 500px;
}

button {
  border: none;
  padding: 15px;
  width: 200px;
  font-size: 20px;
  color: white;
  position: relative;
}

.button2-1 {
  background-color: black;
}

.button2-1::before {
  content: "JOKING!";
  width: 100%;
  height: 0%;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.button2-1::after {
  content: "DON'T WORRY!";
  width: 100%;
  height: 0%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.button2-1:hover.button2-1::before {
  animation: retrive2 1s forwards;
}

.button2-1:hover.button2-1::after {
  animation: retrive2 1s 1s alternate infinite;
}

@keyframes retrive2 {
  to {
    height: 100%;
  }
}

/* 02. Hovered Button*/
/* ----------------------- */

/* ---------------------- */
/* 01. Down Arrow */

.body1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  height: 80px;
  width: 500px;
  color: white;
}

.container1 {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: coral;
  border-radius: 50%;
  position: relative;
}

.container1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-color: coral;
  z-index: -1;
  animation: move1 1.2s ease infinite;
}

@keyframes move1 {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

/* 01. Down Arrow */
/* ---------------------- */
